input[type=text], input[type=password], input[type=email], input[type=search], select {
    width: 90%;
    height: 45px;
    border: 0.1px solid;
    border-color: #c4c4c4;
    border-radius: 4px;
    padding: 5px 15px 5px 15px;
}
textarea {
    border: 0.1px solid;
    border-color: #c4c4c4;
    border-radius: 4px;
    padding: 15px;
    width: 90%;
}

input:focus {
    border: 0.1px solid #34b4eb;
}

input:hover {
    border: 0.1px solid #34b4eb;
}
