.comment-box {
    border: 1px solid #ccc;
    margin: 50px 20px;
    padding: 10px 20px;
    width: 70%;
}

.comment-box h3 {
    text-align: left;
}

.comment-item {
    display: flex;
    padding: 10px;
    margin: 20px 30px;
}

.comment-header {
    display: flex;
    align-items: center;
}

.comment-time {
    margin-left: 15px;
    font-size: small;
}

.comment-right {
    max-width: 70em;
    overflow-wrap: break-word;
    margin-left: 1em;
}