.semester-header {
    height: 50vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.4)),
      url("../../img/taquangbuu.jpg");
}

.semester-content {
    width: 80%;
    margin:auto;
    padding: 30px 50px 10px 50px;
}