.title {
    margin-top: 20px;
}

.tag-input {
    margin-top: 20px;
    margin-bottom: 20px;
}

.content {
    margin-top: 20px;
}

.post-header {
    height: 50vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.4)),
      url("../img/blog.jpg");
}